<div id="tela_padrao" class="class_tela">
    <mat-accordion multi style="width: 80%;">
      <mat-expansion-panel [expanded]="true" [disabled]="true" [@.disabled]="true" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header >
          <mat-panel-title style="color: white;">
            Atualização de Usuários
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
                <div class="div_class_label">
                    <strong>
                        <label for="id">Identificação</label>
                    </strong>
                </div>
                <div>
                    <mat-form-field class="inputText full-width " appearance="outline" style="width: 100px;" >
                        <input matInput placeholder="ID" id="id" [(ngModel)]="usuario.id" disabled >
                    </mat-form-field>
                </div>
            </td>
        </tr>
          <tr>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>Nome</label>
                </strong>
              </div>
              <div>
                <mat-form-field class="inputText full-width " appearance="outline">
                  <input matInput placeholder="Nome do usuário" id="nome" style="size: 500px;" autocomplete="doNotAutoComplete" [(ngModel)]="usuario.nome" >
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>Sobrenome</label>
                </strong>
              </div>
              <div>
                <mat-form-field class="inputText full-width" appearance="outline">
                  <input matInput placeholder="Sobrenome do usuário" id="sobrenome" autocomplete="doNotAutoComplete" [(ngModel)]="usuario.sobrenome" >
                </mat-form-field>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>Usuário</label>
                </strong>
              </div>
              <div>
                <mat-form-field class="inputText full-width" appearance="outline">
                  <input matInput placeholder="Nome do usuário" id="usuario" autocomplete="doNotAutoComplete" [(ngModel)]="usuario.usuario" disabled >
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>Senha</label>
                </strong>
              </div>
              <div>
                <mat-form-field appearance="outline" class="inputText full-width">
                  <input matInput type="password" required autocomplete="doNotAutoComplete" [(ngModel)]="usuario.senha" >
                </mat-form-field>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>E-mail</label>
                </strong>
              </div>
              <div>
                <mat-form-field class="inputText full-width" appearance="outline">
                  <input matInput placeholder="Informe o E-mail" id="email" autocomplete="doNotAutoComplete" [(ngModel)]="usuario.email" >
                </mat-form-field>
              </div>
            </td>
            <td style="padding: 0px;">
              <div>
                <strong>
                  <label>Status</label>
                </strong>
              </div>
              <div>
                <mat-radio-group [(ngModel)]="usuario.status" style="padding-left: 10x;">
                  <mat-radio-button style="padding-right: 10px;" *ngFor="let status of user_status" [value]="status.tipo">
                    {{status.descricao}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </td>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>Tipo de Permissão</label>
                </strong>
              </div>
              <div>
                <mat-form-field>
                  <mat-label>Permissão</mat-label>
                  <mat-select [(ngModel)]="valorPermissao">
                    <mat-option *ngFor="let role of roles">
                      {{role.name}}
                    </mat-option> 
                  </mat-select>
                </mat-form-field> 
              </div>
            </td>
          </tr>
        </table>
  
        <mat-divider></mat-divider>
  
        <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="alertaMensagem">
            <tbody>
              <tr *ngFor="let item of messege">
                <td>{{item}}</td>
              </tr>
            </tbody>
          </div>
        </div>
  
        <div>
          <p *ngIf="submitted">
            <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
          </p>
        </div>
  
        <div>
          <button type="submit" class="button" mat-raised-button color="primary" id="btSave"
            (click)="atualizarUsuario()">
            <mat-icon>save</mat-icon>
            <span>Atualizar</span>
          </button>
  
          <button type="submit" class="button" mat-raised-button color="primary" id="btCancelar" (click)="cancelar()">
            <mat-icon style="margin-right: 10px;">cancel</mat-icon>
            <span>Cancelar</span>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>