.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.class_menu {
  background-color: #264a5c;
  height: 44px;
  color: white;
}

.mat-toolbar {
  background-color: #37474F;
}

.mat-sidenav {
  background-color: orange;
  color: white;
}

.dados-sidenav-header{
  height: 180px;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.mat-divider {
  border-top-color:white;
}