.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.class_menu{
  background-color: #37474F;
  height: 44px;


}.mat-toolbar {
  background-color: #37474F;
}

.mat-sidenav {
  background-color: #37474F;
}
  
