
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.class_menu {
  background-color: #1d1d1d;
  height: 64px;
  color: white;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.mat-toolbar {
  background-color: #1d1d1d;
  top: 0;
  position: fixed;
  width: 100%;
}

.mat-sidenav {
  background-color:#1d1d1d;
  color: white;
  
}

.dados-sidenav-header{
  height: 180px;
  font-size: 12px;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  color: white;
  position: fixed;
  top: 0;
}

.mat-divider {
  border-top-color:white;
}

mat-panel-title {
  color: white;
}

mat-expansion-panel {
  background-color: transparent !important;
  color: white;
}

.sub_secao_titulo {
  margin-top: 10px; 
  margin-bottom: 0px;
}

.menu-text{
  color: white;
}

mat-expansion-panel-header {
 background-color: cadetblue;
}

.mat-divider {
  border-top-color: rgba(252, 246, 246, 0.12);
}

/* ============================================== */
 /* Informações do SIDEBAR */
/* ================================== */

.navbar {
  padding: 0;
  font-size: 14px;
}

li{
  font-size: 14px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
  position: fixed;
  top: 0;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:hover{
  background-color: chocolate;
}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-header {
    text-align: center;
    /* font-size: 20px; */
    position: relative;
    width: 100%;
    display: inline-block;
}
.sidebar-brand {
    height: 100px;
    position: relative;
    background:#1d1d1d;
    padding-top: 1em;
}

.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #36393f;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}
