<div>
  <mat-sidenav-container>
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === true">

      <mat-nav-list>
        <div *ngIf=isLoggedIn>
          <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
              <div class="sidebar-header">

                <div class="sidebar-brand">
                  <div class="codepad-logo-brand">
                    <div class="logo-brand"></div>
                  </div>
                  <!-- <a href="#">Inserir nome logo</a> -->
                </div>
              </div>
              <mat-divider></mat-divider>

              <!-- <p>Dashboards</p> -->
              <li class="dropdown">
                <a href="#Dashboards" class="dropdown-toggle" data-toggle="dropdown">
                  <span> <i class="fa fa-file-code"></i> Dashboards </span>
                </a>
                <ul class="dropdown-menu animated fadeInLeft" role="menu">
                  <li><a routerLink="/em-construcao">Saldo Bancário</a></li>
                  <li><a routerLink="/em-construcao">Investimentos</a></li>
                  <li><a routerLink="/em-construcao">Receitas</a></li>
                </ul>
              </li>

              <p>_____________________________________</p>

              <!-- <p>Informações Bancárias</p> -->
              <li class="dropdown">
                <a routerLink="#works" class="dropdown-toggle" data-toggle="dropdown">Informações Bancárias
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu animated fadeInLeft" role="menu">
                  <li><a routerLink="/banco-consulta">Dados de Instituições Bancário</a></li>
                  <li><a routerLink="/tipo-conta-corrente-consulta">Tipos de Contas Correntes</a></li>
                  <li><a routerLink="/conta-corrente-consulta">Conta Corrente</a></li>
                </ul>
              </li>

              <p>_____________________________________</p>

              <!-- <p>Configurações de investimentos</p> -->
              <li class="dropdown">
                <a routerLink="#works" class="dropdown-toggle" data-toggle="dropdown">Investimentos
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu animated fadeInLeft" role="menu">
                  <li><a routerLink="/categoria-investimento-consulta">Categoria de Investimentos</a></li>
                  <li><a routerLink="/tipo-investimento-consulta">Tipos de Investimentos</a></li>
                </ul>
              </li>

              <p>_____________________________________</p>

              <!-- <p>Consulta /Lançamentos Contábeis</p> -->
              <li class="dropdown">
                <a routerLink="#works" class="dropdown-toggle" data-toggle="dropdown">Consultas / Lançamentos
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu animated fadeInLeft" role="menu">
                  <li><a routerLink="/em-construcao">Débito / Crédito</a></li>
                  <li><a routerLink="/em-construcao">Transferências</a></li>
                  <li><a routerLink="/em-construcao">Recibos / Comprovantes</a></li>
                  <li><a routerLink="/em-construcao">Pagamentos</a></li>
                  <li><a routerLink="/em-construcao">Lançamentos de Ativos</a></li>
                  <li><a routerLink="/em-construcao">Simulação Emprestimo</a></li>
                  <li><a routerLink="/em-construcao">Simulação para Compras</a></li>
                </ul>
              </li>

              <p>_____________________________________</p>

              <!-- <p>Configurações</p> -->
              <li class="dropdown">
                <a routerLink="#works" class="dropdown-toggle" data-toggle="dropdown">Configurações
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu animated fadeInLeft" role="menu">
                  <li><a routerLink="/usuario-detalhe">Cadastro de Usuários</a></li>
                </ul>
              </li> 

              <p>_____________________________________</p>

              <!-- <p> Upload de Arquivos</p> -->
              <li class="dropdown">
                <a routerLink="#works" class="dropdown-toggle" data-toggle="dropdown"> Upload de Arquivos
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu animated fadeInLeft" role="menu">
                  <li><a routerLink="/em-construcao">Arquivos OFX</a></li>
                  <li><a routerLink="/em-construcao">Arquivos Excel</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </mat-nav-list>


    </mat-sidenav>
    <mat-sidenav-content style="height: 100%;">

      <mat-toolbar class="class_menu" *ngIf=isLoggedIn>
        <button mat-icon-button id="menu-toggle" (click)="drawer.toggle()" class="nav_button" style="outline: none;"
          matTooltip="Menu" [matTooltipShowDelay]="1000">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>

        <button mat-icon-button id="bt_home" class="nav_button2" (click)="dashboards()" matTooltip="Home - Dashboards"
          [matTooltipShowDelay]="1000">
          <mat-icon>home</mat-icon>
        </button>

        <button mat-button [matMenuTriggerFor]="menu" class="nav_button" id="btMenuUser" matTooltip="Info. Usuário"
          [matTooltipShowDelay]="1000">
          <mat-icon>account_circle</mat-icon>
          {{currentUser.nome}}
        </button>

        <div class="div_nav_menu" style="background-color: black;">
          <mat-menu class="mat-menu" #menu="matMenu">
            <button mat-menu-item style="font-size: 12px;" class="button_drop_nav ">
              <mat-icon>build</mat-icon>
              <span>Configurações</span>
            </button>
            <hr class="mt-2 mb-1" />
            <button mat-menu-item style="font-size: 12px;" (click)='logout()' class="button_drop_nav ">
              <mat-icon>login</mat-icon>
              <span>Logout</span>
            </button>

          </mat-menu>
        </div>

        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>