<div class="container">
  <div class="signin-content">
    <mat-card>
      <h2>Login</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Usuario" required #usuario>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Senha" required #senha>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" accesskey="ENTER"
        (click)="login(usuario.value,senha.value)">Login</button>
    </mat-card>

    <footer style="text-align: center;">
      Com problema para realizar o login?
      <a href="#" target="_blank" rel="noopener"> Clique aqui!. </a>
    </footer>
  </div>
</div>