<div id="title">
  <div class="mat-card-login">
    <div>
      <mat-card class="mat-elevation-z8 card-login ">
        <h2>Login</h2>
        <form>
          <mat-form-field appearance="outline" class="full-width-input">
            <input matInput placeholder="Informe seu login" style="text-align: center;" required #usuario>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width-input">
            <input matInput type="password" placeholder="Informe sua senha" style="text-align: center;" required #senha>
          </mat-form-field>

          <div class="form-group">
            <button type="submit" mat-raised-button color="primary"
              (click)="login(usuario.value,senha.value)">Login</button>
            <div class="alert alert-danger massagelogin" role="alert" *ngIf="isLoginFailed">
              Erro ao efetuar o Login: {{ errorMessage }}
            </div>
          </div>
        </form>

      </mat-card>

      <footer style="text-align: center;">
        Com problema para realizar o login?
        <a href="#" target="_blank" rel="noopener"> Clique aqui!. </a>
      </footer>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/assets/css/style.css">

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

