<div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{table_titulo}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <!-- <div *ngFor="let displayedColumns of column">
        <mat-form-field class="inputText">
        <input matInput placeholder= "{{column.placeholder}}" id= "{{column.id}}" name= "{{column.nome}}">
        </mat-form-field>
      </div>
      
      <div *ngFor="let buttons of button">
        <button type="submit" class="button" mat-raised-button color="primary" id="btNovo" (click)="{{button.funcao}}">
          <mat-icon>{{button.icon}}</mat-icon>
          <span>{{button.label}}</span>
        </button>
      </div> -->

      <!-- <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title">{{modal.title}}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{modal.conteudo}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{modal.buttonName}}</button>
        </div>
      </ng-template> -->
    </mat-expansion-panel>
  </mat-accordion> 
</div>
