<div class="class_tela">
    <mat-accordion multi style="width: 50% !important;">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header style="background-color: rgb(51, 134, 95);">
                <mat-panel-title style="color: white;">
                    Consulta de Usuários
                </mat-panel-title>
            </mat-expansion-panel-header>

            <form autocomplete="off">
                <div>
                    <strong>
                        <label>Identificação</label>
                    </strong>
                </div>
                <div style="padding-top: 10px;">
                    <mat-form-field class="inputText" appearance="outline">
                        <input matInput placeholder="ID" id="id">
                    </mat-form-field>
                </div>
                <div>
                    <strong>
                        <label>Usuário</label>
                    </strong>
                </div>
                <div>
                    <mat-form-field class="inputText" appearance="outline">
                        <input matInput placeholder="Nome do usuário" id="usuario">
                    </mat-form-field>
                </div>
                <div>
                    <strong>
                        <label>Nome</label>
                    </strong>
                    <strong>
                        <label>Sobrenome</label>
                    </strong>
                </div>
                <div>
                    <mat-form-field class="inputText" appearance="outline">
                        <input matInput placeholder="Nome do usuário" id="nome" style="size: 500px;">
                    </mat-form-field>

                    <mat-form-field class="inputText" appearance="outline">
                        <input matInput placeholder="Sobrenome do usuário" id="sobrenome">
                    </mat-form-field>
                </div>
                <div>
                    <strong>
                        <label>E-mail</label>
                    </strong>
                </div>
                <div>
                    <mat-form-field class="inputText" appearance="outline">
                        <input matInput placeholder="Informe o E-mail" id="email">
                    </mat-form-field>
                </div>

                <div>
                    <button type="submit" class="button" mat-raised-button color="primary" id="btNovo" (click)='novo()'>
                        <mat-icon>add</mat-icon>
                        <span>Novo</span>
                    </button>


                    <button type="submit" class="button" mat-raised-button color="primary" id="btPesquisar"
                        (click)="buscaUsuario()">
                        <mat-icon>search</mat-icon>
                        <span>Pesquisar</span>
                    </button>
                    <button type="reset" class="button" mat-raised-button color="primary" id="btLimpar">
                        <mat-icon>restore_from_trash</mat-icon>
                        <span>Limpar</span>
                    </button>
                </div>

                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Modal title</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>One fine body&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                </ng-template>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <!--FIM FILTROS DE USUARIOS -->


    <!-- TABELA DE USUARIO -->

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
            <td mat-cell *matCellDef="let usuario">{{usuario.id}}</td>
        </ng-container>

        <ng-container matColumnDef="Nome">
            <th mat-header-cell *matHeaderCellDef> Nome </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="Sobrenome">
            <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.sobrenome}} </td>
        </ng-container>

        
        <ng-container matColumnDef="Email">
            <th mat-header-cell *matHeaderCellDef> E-mail </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.email}} </td>
        </ng-container>
        
        <ng-container matColumnDef="Usuario">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let usuario"> {{usuario.usuario}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>