<div class="signin-content">
  <mat-card>
    <h2>Login</h2>
    <mat-form-field class="full-width-input">
      <input matInput placeholder="Usuario" required>
    </mat-form-field>
    <mat-form-field class="full-width-input">
      <input matInput type="password" placeholder="Senha" required>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" (click)="login()">Login</button>
  </mat-card>

  <footer style="text-align: center;">
    Com problema para realizar o login?
    <a href="#" target="_blank" rel="noopener"> Clique aqui!. </a>
  </footer>
</div>