<div id="tela_padrao" class="card_tela">
    <mat-accordion multi style="width: 50% !important;">
        <mat-expansion-panel [expanded]="true" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header class="card_panel_style">
                <mat-panel-title style="color: white;">
                    Exclusão de Tipo de Conta Bancária
                </mat-panel-title>
            </mat-expansion-panel-header>

            <table class="full-width" cellspacing="0">
                <tr>
                    <td>
                        <div class="div_class_label">
                            <strong>
                                <label>Tipo Conta</label>
                            </strong>
                        </div>
                        <div>
                            <mat-form-field class="inputText full-width " appearance="outline">
                                <input matInput [(ngModel)]="tipo_conta.tipo_conta" placeholder="Tipo da conta"
                                    id="tipo_conta"  style="size: 500px;" autocomplete="doNotAutoComplete" required disabled>
                            </mat-form-field>
                        </div>
                    </td>
                    <td>
                        <div class="div_class_label">
                            <strong>
                                <label>Descrição</label>
                            </strong>
                        </div>
                        <div>
                            <mat-form-field class="inputText full-width" appearance="outline">
                                <input matInput [(ngModel)]="tipo_conta.descricao" placeholder="Descrição da conta"
                                    id="descricao" autocomplete="doNotAutoComplete" disabled>
                            </mat-form-field>
                        </div>
                    </td>
                </tr>
            </table>

            <mat-divider></mat-divider>

            <div>
                <button type="submit" class="button" mat-raised-button color="primary" id="btSave"
                    (click)="deletarTipoConta()">
                    <mat-icon>save</mat-icon>
                    <span>Excluir</span>
                </button>

                <button type="submit" class="button" mat-raised-button color="primary" id="btCancelar"
                    routerLink="/tipo-conta-corrente-consulta">
                    <mat-icon>cancel</mat-icon>
                    <span>Cancelar</span>
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>