<div class="card_tela">
    <mat-accordion multi style="width: 50% !important;">
      <mat-expansion-panel [expanded]="true" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header class="card_panel_style">
          <mat-panel-title style="color: white;">
            Deleção de Usuários
          </mat-panel-title>
        </mat-expansion-panel-header>
  
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>Nome</label>
                </strong>
              </div>
              <div>
                <mat-form-field class="inputText full-width " appearance="outline" >
                  <input matInput placeholder="Nome do usuário" id="nome" autocomplete="doNotAutoComplete" [(ngModel)]="usuario.nome" disabled='disable'>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>Sobrenome</label>
                </strong>
              </div>
              <div>
                <mat-form-field class="inputText full-width" appearance="outline">
                  <input matInput placeholder="Sobrenome do usuário" id="sobrenome" autocomplete="doNotAutoComplete" [(ngModel)]="usuario.sobrenome" disabled='disable'>
                </mat-form-field>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>Usuário</label>
                </strong>
              </div>
              <div>
                <mat-form-field class="inputText full-width" appearance="outline">
                  <input matInput placeholder="Nome do usuário" id="usuario" autocomplete="doNotAutoComplete" [(ngModel)]="usuario.usuario" disabled='disable'>
                </mat-form-field>
              </div>
            </td>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>Senha</label>
                </strong>
              </div>
              <div>
                <mat-form-field appearance="outline" class="inputText full-width">
                  <input matInput type="password" required autocomplete="doNotAutoComplete" [(ngModel)]="usuario.senha" disabled='disable'>
                </mat-form-field>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>E-mail</label>
                </strong>
              </div>
              <div>
                <mat-form-field class="inputText full-width" appearance="outline">
                  <input matInput placeholder="Informe o E-mail" id="email" autocomplete="doNotAutoComplete" [(ngModel)]="usuario.email" disabled='disable'>
                </mat-form-field>
              </div>
            </td>
            <td style="padding: 0px;">
              <div>
                <strong>
                  <label>Status</label>
                </strong>
              </div>
              <div>
                <mat-radio-group [(ngModel)]="usuario.status" style="padding-left: 10x;" >
                  <mat-radio-button style="padding-right: 10px;" *ngFor="let status of user_status" ([value])='status.tipo'>
                    {{status.descricao}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </td>
            <td>
              <div class="div_class_label">
                <strong>
                  <label>Tipo de Permissão</label>
                </strong>
              </div>
              <!-- <div>
                <mat-form-field>
                  <mat-label>Permissão</mat-label>
                  <mat-select [(ngModel)]="tipo_role">
                    <mat-option *ngFor="let role of roles" [value]="role.id">
                      {{role.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
            </td>
          </tr>
        </table>
  
        <mat-divider></mat-divider>
  
        <div>
          <button type="submit" class="button" mat-raised-button color="warn" id="btSave"
            (click)="deletarUsuario()">
            <mat-icon>save</mat-icon>
            <span>Deletar</span>
          </button>
  
          <button type="submit" class="button" mat-raised-button color="primary" id="btCancelar" (click)="cancelar()">
            <mat-icon>cancel</mat-icon>
            <span>Cancelar</span>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>