<div class="form-group">
    <label for="lbEmail">E-mail</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="nome@email.com.br">
    <small id="emailHelp" class="form-text text-muted">Nunca compartilhe seu e-mail com ninguém</small>
</div>

<div class="form-group">
    <label for="lbNome">Nome completo</label>
    <input type="nome" class="form-control" id="email" >
</div>

<div class="form-group">
    <label for="lbDtNascimento">Data de Nascimento</label>
    <input type="date" class="form-control" id="dtNascimento">
</div>

<div class="form-group">
    <label for="lbCPF">CPF</label>
    <input type="" class="form-control" id="cpf" aria-describedby="cpfHelp">
    <small id="cpfHelp" class="form-text text-muted">Informar somente números</small>
</div>

<div class="form-group">
    <label for="lbRG">RG</label>
    <input type="number" class="form-control" id="rg" aria-describedby="rgHelp">
    <small id="rgHelp" class="form-text text-muted">Informar somente números</small>
</div>

<div>
    <button type="button" class="btn btn-primary">Cancelar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
</div>