<div class="card">
    <div class="card-header">Cadastro de Usuário <div>
            <div class="card-body">

                <div *ngIf="novo">
                    <label class="labels" for="ID">ID:</label>
                    <input type="text" style="width: 50px;" disabled id="id_usuario">
                </div>

                <div class="form-inline">
                    <div class="form-group mb-2 input-group-sm">
                        <label class="labels" for="lbNome">Nome</label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="form-group mb-2 input-group-sm">
                        <label class="labels" for="lbSobrenome">Sobrenome</label>
                        <input type="text" class="form-control" id="sobrenome">
                    </div>
                </div>
                <div class="form-group input-group-sm ">
                    <label class="labels" for="lbEmail">E-mail</label>
                    <input type="email" class="form-control " id="email" aria-describedby="emailHelp"
                        placeholder="nome@e-mail.com.br">
                    <small id="emailHelp" class="form-text text-muted">Nunca compartilhe seu e-mail com ninguém</small>
                </div>


                <div class="form-group input-group-sm">
                    <label class="labels" for="lbDtNascimento">Data de Nascimento</label>
                    <input type="date" class="form-control campos-mascara" id="dtNascimento">
                </div>

                <div class="form-group input-group-sm">
                    <label class="labels" for="lbCPF">CPF</label>
                    <input type="number" class="form-control campos-mascara" style="size: 15px;" id="cpf"
                        aria-describedby="cpfHelp">
                    <small id="cpfHelp" class="form-text text-muted">Informar somente números</small>
                </div>

                <div class="form-group input-group-sm">
                    <label class="labels" for="lbRG">RG</label>
                    <input type="number" class="form-control campos-mascara" id="rg" aria-describedby="rgHelp">
                    <small id="rgHelp" class="form-text text-muted">Informar somente números</small>
                </div>

                <div class="form-inline">
                    <div class="form-group mb-2 input-group-sm">
                        <label class="labels" for="lbNome">Login</label>
                        <input type="nome" class="form-control" id="email">
                    </div>
                    <div class="form-group mb-2 input-group-sm">
                        <label class="labels" for="lbSobrenome">Senha</label>
                        <input type="password" class="form-control" id="sobrenome">
                    </div>
                </div>

                <div style="text-align: center;">
                    <button type="button" class="btn btn-primary btn-sm button">Cancelar</button>
                    <button type="submit" class="btn btn-primary btn-sm button">Salvar</button>
                </div>
            </div>
        </div>
    </div>