@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@fortawesome/fontawesome-free/css/all.css"; 

.wrapper {
  width: 100%;
}

.button {
  background-color: #1976d2;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  margin-right: 10px !important;
  margin-top: 20px !important;
  width: 120px !important;

}

.labels {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  margin-right: 10px;
}

.inputText {
  margin-left: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}

.campos-mascara {
  width: 150px !important;
}

.card.card-small {
  height: 150px;
  width: 300px;
}


.card.card-small input {
  margin-bottom: 10px;
}

.form-tela {
  justify-content: left;
  margin-top: 16px;
  margin-left: 16px;
} 

 .card_tela {
  width: 1000px !important;
  margin-top: 16px;
  margin-left: 100px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}



.icons_menu {
  font-size: 20px !important;
}

.toolbar {
  height: 50px;
  display: flex;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}


.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} 

/* ======================================================================================== */

mat-card {
  margin: 2em auto;
  text-align: center;
}

.mat-card-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.card-login{
  display: flex;
  flex-direction: column;
}

.massagelogin{
  margin-top: 20px;
}

.input:focus {
  outline: none !important;
  border:1px solid green !important;
  box-shadow: 0 0 10px green !important;
}


.signin-content {
  padding: 60px 1rem;
  
}

.full-width-input {
  width: 80%;
}

.full-width {
  width: 100%;
  margin-left: 0px;
  padding-right: 20px;
  padding-top: 0px;
  margin-top: 0%;
}

.div_class_label{
  height: 20px;
}

.card_panel_style{
  background-color: rgb(51, 134, 95); 
  margin-bottom: 15px;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-expansion-panel-header-title i{
  padding-right: 20px !important;
}

span i {
  padding-right: 5px !important;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  float: right;
}