@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@fortawesome/fontawesome-free/css/all.css"; 


/* ==============  CSS voltado as telas  ========================= */
.class_tela{
  display: flex;
  width: 100%;
  flex-direction: column;
  height: auto;
  padding: 120px 0px 0px 20%;
  background-color: #232930;
}


/* ==============  FIM do CSS voltado as telas  ========================= */

/* ==============  CSS voltado as ACORDIONS  ========================= */
.mat-expansion-panel-header-title i{
  padding-right: 20px !important;
  background-color: red;
}

.mat-expansion-panel-header {
  background-color: #4b5766;
  margin-bottom: 15px;
}

.mat-expansion-panel,
mat-expansion-panel * {
  transition: none !important;
}

/* ============== FIM CSS voltado as ACORDIONS  ========================= */
/* ==============  CSS voltado aos BUTTONS  ========================= */
.button {
 outline: none;
 margin-right: 10px;
}

/* ============== FIM CSS voltado aos BUTTONS   ========================= */


.wrapper {
  width: 100%;
}



/* .mat-icon{
  margin-right: 10px;
} */

.labels {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  margin-right: 10px;
}

.inputText {
  margin-left: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
}

.campos-mascara {
  width: 150px !important;
}

.card.card-small {
  height: 150px;
  width: 300px;
}


.card.card-small input {
  margin-bottom: 10px;
}

.form-tela {
  justify-content: left;
  margin-top: 16px;
  margin-left: 16px;
} 



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}





.toolbar {
  height: 50px;
  display: flex;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}


.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
} 

/* ======================================================================================== */

mat-card {
  margin: 2em auto;
  text-align: center;
}

.mat-card-login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.card-login{
  display: flex;
  flex-direction: column;
}

.massagelogin{
  margin-top: 20px;
}

.input:focus {
  outline: none !important;
  border:1px solid green !important;
  box-shadow: 0 0 10px green !important;
}


.signin-content {
  padding: 60px 1rem;
  
}

.full-width-input {
  width: 80%;
}

.full-width {
  width: 100%;
  margin-left: 0px;
  padding-right: 20px;
  padding-top: 0px;
  margin-top: 0%;
}

.div_class_label{
  height: 20px;
}



.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}



span i {
  padding-right: 5px !important;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  float: right;
}

/* COnfigurações das mensagens padrões */

.msg-sucess{
  color: white;
  background-color: rgb(25, 119, 25);
}

.msg-error{
  color: white;
  background-color: rgb(252, 54, 54)
}

#tela_padrao{
  height: 100vh;
  width: 100vw;
}

.background_all{
  /* background-color: #232930; */
  background-color: #68706c;
  position: 50px;
}


/* ==================  CSS LOGO FUNDO ==================================== */

.codepad-logo, 
.codepad-logo::before, 
.codepad-logo::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.codepad-logo {
  width: 200px;
  height: 200px;
  margin: auto;
  color: #3498db;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #3498db;
  transform: rotate(45deg);
}

.logo {
    background: url("https://dl.dropboxusercontent.com/s/r0n3iyiuhub6j1t/test-fill-01.svg?dl=0") no-repeat 50%/70%;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
}

.codepad-logo::before, 
.codepad-logo::after {
  content: '';
  z-index: -1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  border-radius: 6px;
  animation: clipIt 8s linear infinite;
}
.codepad-logo::before {
  animation-delay: -4s;
}

@keyframes clipIt {
  0%, 100% { clip: rect(0px, 220px, 2px, 0px); }
  25%      { clip: rect(0px, 2px, 220px, 0px); }
  50%      { clip: rect(218px, 220px, 220px, 0px); }
  75%      { clip: rect(0px, 220px, 220px, 218px); }
}

/* BRAND */

.codepad-logo-brand, 
.codepad-logo-brand::before, 
.codepad-logo-brand::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.codepad-logo-brand {
  width: 50px;
  height: 50px;
  margin: auto;
  color: #3498db;
  border-radius: 6px;
  box-shadow: inset 0 0 0 1px #3498db;
  transform: rotate(45deg);
}

.logo-brand {
    background: url("https://dl.dropboxusercontent.com/s/r0n3iyiuhub6j1t/test-fill-01.svg?dl=0") no-repeat 50%/70%;
    width: 100%;
    height: 100%;
    transform: rotate(-45deg);
}

.codepad-logo-brand::before, 
.codepad-logo-brand::after {
  content: '';
  z-index: -1;
  margin: -8%;
  box-shadow: inset 0 0 0 2px;
  border-radius: 6px;
  animation: clipIt 8s linear infinite;
}
.codepad-logo-brand::before {
  animation-delay: -4s;
}

@keyframes clipIt {
  0%, 100% { clip: rect(0px, 60px, 4px, 0px); }
  25%      { clip: rect(0px, 2px, 60px, 0px); }
  50%      { clip: rect(50px, 60px, 60px, 0px); }
  75%      { clip: rect(0px, 60px, 60px, 50px); }
  /* 75%      { clip: rect(0px, 52px, 52px, 58px); } */
}

/* ==================  CSS LOGO-brand FUNDO ==================================== */